body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
}

ul {
    list-style: decimal;
    padding-left: 1.5em;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-right: 1em;
}

button {
    border-radius: 0;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
}

.app {
    padding: 10px;
}